.sp-details {
    /* padding: 0 32px 24px; */
    margin: 0 auto 60px;
    width: 85%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 24px;
}
.sp-details > div {
    border: 0px solid red;
}
.sp-details > .main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}