<app-details-header></app-details-header>
<div class="sp-details">
    <div class="main">
        <app-details-page-carousel></app-details-page-carousel>
        <app-details-page-details></app-details-page-details>
    </div>
    <div class="sidebar">
        <app-details-listing-contact></app-details-listing-contact>
    </div>
</div>