.sp-details-carousel {
    width: 100%;
}
.sp-details-carousel > .gallery {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    /* border-radius: 6px; */
}
.sp-details-carousel > .gallery > img {
    /* border-radius: 6px; */
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}