.sp-similar {
    border: 0px solid #ccc;
    border-collapse: collapse;
}
.sp-similar .header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #333;
    /* border-bottom: 1px solid #ccc; */
    /* padding: 0 0 8px 4px; */
    padding-bottom: 12px;
}
.sp-similar .content {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.content > div {
    width: 100%;
    height: 250px;
    border: 1px solid #ccc;
}