.sp-search-pager {
    margin: 0 auto 40px;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sp-search-pager > .link {
    cursor: pointer;
    padding: 4px 8px;
    font-size: 13px;
    color: #666;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.sp-search-pager > .link:hover {
    background-color: #ececed;
}
.sp-search-pager > .prev {
    margin-left: 0px;
}
.sp-search-pager > .next {
    margin-right: 0px;
}
.sp-search-page-index {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: 0 14px;
}
.sp-search-page-index > .page {
    padding: 12px 16px;
    background-color: #666;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s;
}
.sp-search-page-index > .page.active {
    background-color: #ececed;
    color: #333;
}
.sp-search-page-index > .page.active:hover {
    background-color: #ccc;
    color: #333;
}
.sp-search-page-index > .page:hover {
    background-color: #999;
    
}
.sp-search-page-index > .page:not(:last-of-type) {
    margin-right: 8px;
}
.sp-search-ad {
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto 60px;
}
.sp-search-ad > .ad {
    width: 640px;
    height: 200px;
    background-color: #999;
}