<div class="sp-search-pager">
    <div class="first link">
        <span class="material-icons icon">
            first_page
        </span>
        First
    </div>
    <div class="prev link">
        <span class="material-icons icon">
            navigate_before
        </span>
        Previous
    </div>
    <div class="sp-search-page-index">
        <div class="page">1</div>
        <div class="page active">2</div>
        <div class="page">3</div>
        <div class="page">4</div>
        <div class="page">5</div>
    </div>
    <div class="next link">
        Next
        <span class="material-icons icon">
            navigate_next
        </span>
    </div>
    <div class="last link">
        Last
        <span class="material-icons icon">
            last_page
        </span>
    </div>
</div>
<div class="sp-search-ad">
    <div class="ad"></div>
</div>