<div class="sp-listing-gallery">
    <div class="header">
        <span>{{ rec.addrval }}</span>
        <span class="price">{{ rec.price | currency:'&#8369; ' }}{{ rec.isRental == true ? '/mo':'' }}</span>
    </div>
    <div class="gallery">
        <img src="{{ rec.images[0].url }}" alt="images">
        <!-- <img src="https://photos.zillowstatic.com/fp/2154a2f28bfc2a0b0e5b0dc3b1c5081a-cc_ft_1536.webp" alt="images"> -->
        <!-- <img src="https://photos.zillowstatic.com/fp/1f5166200b3b380ace55517d95438b91-cc_ft_1536.webp" alt="images"> -->
        <!-- <img src="https://photos.zillowstatic.com/fp/13d13e9a39f190ede72c1ad60ad03107-cc_ft_1536.webp" alt="images"> -->
        <!-- <img src="https://photos.zillowstatic.com/fp/9da20e455756d33da652cd70559d67bb-cc_ft_1536.webp" alt="images"> -->
        <!-- <img src="https://photos.zillowstatic.com/fp/a33f2cfebdc7dcfd0f991cbe3a4faae1-cc_ft_1536.webp" alt="images"> -->
    </div>
    <div class="stats">
        <div class="inner">
            <div>
                <span class="material-icons icon">pageview</span>
                Views: <strong>122</strong>
            </div>
            <div>
                <span class="material-icons icon">thumb_up</span>
                Likes: <strong>57</strong>
            </div>
            <div>
                <span class="material-icons icon">shares</span>
                Shares: <strong>122</strong>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="share">Like</button>
            <button type="button" class="share">Share</button>
        </div>
    </div>
</div>