.sp-listing-gallery {
    border: 0px solid red;
    /* background-color: #666; */
    width: 100%;
}
.sp-listing-gallery .header {
    background-color: #37474F;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    border-bottom: 2px solid #F4511E;
}
.sp-listing-gallery .header .price {
    font-size: 24px;
    font-weight: bold;
}
.sp-listing-gallery > .gallery {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    /* border-radius: 6px; */
}
.sp-listing-gallery > .gallery > img {
    border-radius: 6px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.sp-listing-gallery .stats {
    padding-top: 8px;
    font-size: 0.9rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inner > div {
    position: relative;
    padding: 4px 32px;
    color: #333;
}
.inner > div > strong {
    color: red;
    font-weight: bold;
    /* font-size: 20px; */
}
.inner > div .icon {
    position: absolute;
    left: 0;
    top: 0px;
}
.stats .share {
    padding: 8px 12px;
    border: 0px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    transition: all .2s ease;
}
.stats .share:hover {
    background-color: #E3F2FD;
}