<div class="sp-navbar">
    <div class="inner">
        <div>
            <button class="sp-navbar-title">LOGO</button>
        </div>
        <div class="sp-nav-links">
            <button type="button">Buy</button>
            <button type="button" class="active" (click)="navTo('search')">Rent</button>
            <button type="button" (click)="navTo('create')">Sell</button>
            <button type="button">Login</button>
            <button type="button">Register</button>
        </div>
    </div>
</div>