.sp-navbar {
    border-bottom: 1px solid #ccc;
}
.sp-navbar > .inner {
    width: 85%;
    padding: 12px 0;
    margin: 0 auto;
    /* background-color: #1976D2; */
    background-color: #fff;
    color: #1565C0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* -webkit-box-shadow: 0 2px 6px #666;
    -moz-box-shadow: 0 2px 6px #666;
    box-shadow: 0 2px 6px #666; */
}
.sp-navbar-title {
    font: 500 24px/32px Roboto, "Helvetica Neue", sans-serif;
    margin-right: 24px;
    border: 0px solid red;
    background-color: #fff;
    color: #1565C0;
    cursor: pointer;
}
.sp-nav-search {
    position: relative;
}
.sp-nav-search-text {
    /* background-color: #1E88E5; */
    /* color: #FFF; */
    /* background-color: rgba(0, 0, 0, 0.1); */
    color: #666;
    font: 14px/32px Roboto, "Helvetica Neue", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border-width: 1px;
    padding: 1px 48px 1px 16px;
    width: 400px;
}
.sp-nav-search-icon {
    color: #666;
    position: absolute;
    right: 16px;
    top: 8px
}
.sp-nav-spacer {
    flex: 1 1 auto;
}
.sp-nav-account {
    /* border: 1px solid #74c6eb; */
    border: 1px solid #333;
    font-size: 14px;
    font-weight: 700;
    /* background-color: #74c6eb; */
    background-color: #FFF;
    color: #333;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* margin-right: 16px; */
}
.sp-nav-account:hover {
    /* color: #74c6eb; */
    color: #333;
    font-weight: 700;
    background-color: #CCC;
    /* border: 1px solid #CCC; */
    /* border-bottom: 3px solid #333; */
}
.sp-nav-account-icon {
    margin-right: 8px;
}
.sp-nav-links {
    /* font-family: "Montserrat", sans-serif; */
    font-family: Helvetica, sans-serif;
}
.sp-nav-links button {
    font-size: 14px;
    text-decoration: none;
    background-color: #fff;
    color: rgb(51, 51, 51);
    font-weight: 400;
    padding: 12px 16px;
    border: 0;
    border-radius: 4px;
    transition: all .2s ease;
    cursor: pointer;
}
.sp-nav-links button:not(:first-of-type) {
    margin-left: 8px;
}
.sp-nav-links button:hover {
    background-color: #E3F2FD;
}
.sp-nav-links button.active {
    background-color: #1976D2;
    color: #fff;
}