<div class="sp-header">
    <div class="inner">
        <div class="back-link" (click)="backToSearch()">
            <span class="material-icons icon">
                navigate_before
            </span>
            Back
        </div>
        <app-listing-header-crumbs></app-listing-header-crumbs>
    </div>
</div>