.sp-listing-contact {
    /* border-color: #263238; */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 12px;
    background-color: rgba(38, 50, 56, 0.8);
}
.sp-listing-contact .inner {
    background-color: #ECEFF1;
    border-radius: 4px;
    padding: 12px;
    color: #333;
    font-size: 14px;
}
.sp-listing-contact .title {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 16px;
    text-align: center;
}
.sp-listing-contact .form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sp-listing-contact .input,
.sp-listing-contact .input-date {
    position: relative;
}
.sp-listing-contact .input input[type=text] {
    border-radius: 4px;
    border: 0px solid #ccc;
    padding: 8px 12px 8px 40px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.sp-listing-contact .input .icon {
    position: absolute;
    left: 8px;
    top: 4px;
    color: #607D8B;
}
.sp-listing-contact .input-date input[type=text] {
    border-radius: 4px;
    border: 0px solid #ccc;
    padding: 8px 40px 8px 12px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.sp-listing-contact .input-date .icon {
    position: absolute;
    right: 8px;
    top: 4px;
    color: #607D8B;
    cursor: pointer;
    padding-left: 8px;
    border-left: 1px solid #ccc;
    transition: all 0.2s ease;
}
.sp-listing-contact .input-date .icon:hover {
    color: #E64A19;
}
.sp-listing-contact .input-notes textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: 0;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 8px 12px;
}
.sp-listing-contact .send {
    position: relative;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    background-color: #607D8B;
    color: #fff;
    border: 0;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.sp-listing-contact .send:hover {
    background-color: #BF360C;
}
