<div class="sp-listing-contact">
    <div class="inner">
        <div class="title">Contact this property</div>
        <div class="form">
            <div class="input">
                <span class="material-icons icon">
                    person
                </span>
                <input type="text" name="yourName" placeholder="Your name">
            </div>
            <div class="input">
                <span class="material-icons icon">
                    email
                </span>
                <input type="text" name="yourEmail" placeholder="Your email address">
            </div>
            <div class="input">
                <span class="material-icons icon">
                    phone
                </span>
                <input type="text" name="yourPhone" placeholder="Your phone number">
            </div>
            <div class="input-date">
                <span class="material-icons icon">
                    date_range
                </span>
                <input type="text" name="moveinDate" placeholder="Target move-in date">
            </div>
            <div class="input-notes">
                <textarea name="notes" id="notes">Hello! I am interested in this property.</textarea>
            </div>
            <button type="button" class="send">Send Message</button>
        </div>
    </div>
</div>