.sp-summary {
    /* border: 1px solid #ccc; */
    border-collapse: collapse;
}
.sp-summary .header {
    /* background-color: #ececed; */
    /* padding: 12px 16px; */
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.sp-summary .header .price {
    font-size: 24px;
    font-weight: bold;
}
.sp-summary .content {
    padding: 12px 0 12px;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
}
.sp-summary .col {
    border: 0px solid red;
}
.sp-summary .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px;
}
.sp-summary .row:not(:last-of-type) {
    border-bottom: 1px dashed #ececed;
}
.row .label {
    position: relative;
    color: #666;
    padding-left: 36px;
    font-family: "Roboto", sans-serif;
}
.row .label .icon {
    position: absolute;
    top: -4px;
    left: 0;
}
.row  .val {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}