<div class="sp-summary">
    <div class="header">
        <span>Property Summary</span>
    </div>
    <div class="content">
        <div class="col">
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        drive_eta
                    </span>
                    Home Type
                </div>
                <span class="val">{{ rec.homeType | titlecase }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        fullscreen
                    </span>
                    Floor Area (sqm)
                </div>
                <span class="val">{{ rec.floorArea }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        face
                    </span>
                    Max Occupants
                </div>
                <span class="val">{{ rec.maxOcc }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        elevator
                    </span>
                    Floors
                </div>
                <span class="val">{{ rec.floors }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        payments
                    </span>
                    Deposit/Advance
                </div>
                <span class="val">{{ rec.totaldeposit | currency: '&#8369; ' }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        payment
                    </span>
                    Payment Mode
                </div>
                <span class="val">{{ rec.paymentModes }}</span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        bed
                    </span>
                    Bedrooms
                </div>
                <span class="val">{{ rec.beds }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        bathtub
                    </span>
                    Bathrooms
                </div>
                <span class="val">{{ rec.baths }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        garage
                    </span>
                    Parking
                </div>
                <span class="val">{{ rec.parking }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        kitchen
                    </span>
                    Furnishings
                </div>
                <span class="val">{{ rec.furnishing | titlecase }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        pets
                    </span>
                    Allows Pets
                </div>
                <span class="val">{{ rec.allowPets == true ? 'Yes' : 'No' }}</span>
            </div>
            <div class="row">
                <div class="label">
                    <span class="material-icons icon">
                        face
                    </span>
                    Allows Smoking
                </div>
                <span class="val">{{ rec.allowSmoking == true ? 'Yes' : 'No' }}</span>
            </div>
        </div>
        <!-- <div class="col">
        </div> -->
    </div>
</div>