/*
main
  section class="cards"
    div class="card"
      div class="card__image-container"
        img
      div class="card__content"
        p class="card__title text--medium"
        div class="card__info"
          p class="text--medium"
          p class="text--medium"
*/
.sp-search-list {
    padding: 24px 0 40px;
}
.sp-search-list > .header {
    width: 85%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    font-size: 14px;
}
.sp-search-list .title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.sp-search-list .title > .location {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
}
.sp-search-list .header .count,
.sp-search-list .header .sort {
    font-family: "Montserrat", sans-serif;
    /* font-size: 14px; */
}
.sp-search-list .header .count {
    margin-right: 40px;
}
.sp-search-list > .header > .sort > .sort-control {
    font-size: 12px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 8px;
}
@media screen and (min-width: 672px) {
    .sp-search-list > .list {
        display: grid;
        /* border: 1px solid red; */
        grid-template-columns:repeat(2, minmax(240px, 1fr));
        grid-auto-flow: dense;
        grid-gap: 12px;
        padding: 24px 0;
        margin: 0 auto;
        width: 85%;
        align-items: start;
    }
}
@media screen and (min-width: 1151px) {
    .sp-search-list > .list {
        display: grid;
        border: 0px solid red;
        grid-template-columns:repeat(3, minmax(240px, 1fr));
        grid-auto-flow: dense;
        grid-gap: 24px;
        padding: 24px 0;
        margin: 0 auto;
        width: 85%;
        align-items: start;
    }
}
@media screen and (min-width: 1751px) {
    .sp-search-list > .list {
        display: grid;
        border: 0px solid red;
        grid-template-columns:repeat(4, minmax(240px, 1fr));
        grid-auto-flow: dense;
        grid-gap: 24px;
        row-gap: 36px;
        padding: 24px 0;
        margin: 0 auto;
        width: 85%;
        align-items: start;
    }
}

.sp-search-list .item {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* border-radius: 6px; */
    border: 1px solid rgba(128, 128, 128, 0.1);
    min-height: 140px;
    cursor: pointer;
    transition: 0.2s;
}

.sp-search-list .item:hover {
    /* transform: translateY(-2px); */
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(128, 128, 128, 0.3);
}
.card-img {
    position: relative;
} 
.card-img > img {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.card-img > .duration,
.card-img > .hometype {
    position: absolute;
    top: 0;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 10px;
    font-weight: 500;
}
.card-img > .duration {
    left: 0;
}
.card-img > .hometype {
    right: 0;
    background-color: rgba(255, 0, 0, 0.8);
}
.card-img > .price {
    position: absolute;
    bottom: 6px;
    left: 18px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.card-content {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    padding: 10px 20px;
    color: #333;
}
.card-content > .card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.card-content > p {
    line-height: 24px;
}
.text-hilite {
    font-size: 16px;
    font-weight: 500;
}
.text-medium {
    font-family: inherit;
    font-size: 13px;
    line-height: 20px;
}