<div class="sp-search-list">
    <div class="header">
        <div class="title">
            <div class="location">Quezon City</div>
            <div class="count">Found {{ list.length }} properties</div>
        </div>
        <div class="sort">
            Sort by
            <select class="sort-control">
                <option value="">Price - Lowest to Highest</option>
                <option value="">Price - Highest to Lowest</option>
            </select>
        </div>
    </div>
    <div class="list">
        <div class="item" *ngFor="let el of list; let i = index">
            <div class="card" (click)="viewDetails(el._id)">
                <div class="card-img">
                    <p class="duration">{{ el.age | uppercase }}</p>
                    <p class="hometype">RENT</p>
                    <img src={{el.images[0]}} alt="images">
                    <p class="price">{{ el.price | currency: '&#8369; ' }}</p>
                </div>
                <div class="card-content">
                    <p class="text-medium">
                        <span class="text-hilite">{{ el.beds }}</span> bed, 
                        <span class="text-hilite">{{ el.baths }}</span> t&b, 
                        <span class="text-hilite">{{ el.floor }}</span> sqm (floor), 
                        <span class="text-hilite">{{ el.parking }}</span> parking
                    </p>
                    <p class="text-medium">{{ el.addrval }}</p>
                </div>
            </div>
        </div>
    </div>
<app-search-list-pager></app-search-list-pager></div>
