<div class="sp-footer">
    <div class="end-to-end">
        <div class="social">
            <span class="material-icons">facebook</span>
            <span class="material-icons">email</span>
            <span class="material-icons">phone</span>
        </div>
        <div class="thumbs">

        </div>
    </div>
    <div class="links">
        <a href="#">About us</a>
        <a href="#">Careers</a>
        <a href="#">Advertise</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Portal</a>
    </div>
    <div class="footer">
        <p>&copy; Copyright 2021 FindMyHome.PH. All rights reserved. No part of this website may not be published or reproduced without prior written permission.</p>
    </div>
</div>