.sp-footer {
    padding: 40px 0;
    background-color: #1D1F0A;
    font-size: 12px;
}
.sp-footer > div {
    width: 85%;
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin: 0 auto 12px;
}
.sp-footer a {
    text-decoration: none;
    color: #fff;
}
.sp-footer a:hover {
    text-decoration: underline;
}
.sp-footer a:not(:last-of-type) {
    margin-right: 16px;
}
.sp-footer > .end-to-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}