<app-create-header></app-create-header>
<div class="sp-create-listing">
    <div class="main">
        <form [formGroup]="listingForm">
            <div>
                Home Type: <select formControlName="homeType">
                    <option value="condominium">Condominium</option>
                    <option value="townhouse">Townhouse</option>
                    <option value="single attached">Single Attached</option>
                    <option value="single detached">Single Detached</option>
                    <option value="vacant lot">Vacant Lot</option>
                </select>
            </div>
            <div formGroupName="address">
                <div>
                    Address (line 1): <input type="text" formControlName="address_1">
                </div>
                <div>
                    Address (line 2): <input type="text" formControlName="address_2">
                </div>
                <div>
                    City: <input type="text" formControlName="city">
                </div>
                <div>
                    Province: <input type="text" formControlName="province">
                </div>
            </div>
            <div>
                Floor Area: <input type="text" formControlName="floorArea">
            </div>
            <div>
                No. Bedrooms: <input type="text" formControlName="beds">
            </div>
            <div>
                No. Bathrooms: <input type="text" formControlName="baths">
            </div>
            <div>
                No. Parking: <input type="text" formControlName="parking">
            </div>
            <div>
                No. Floors: <input type="text" formControlName="floors">
            </div>
            <div>
                Max Occupants: <input type="text" formControlName="maxOcc">
            </div>
            <div>
                Furnishing: <select formControlName="furnishing">
                    <option value="bare">Bare</option>
                    <option value="semi-furnished">Semi-furnished</option>
                    <option value="fully-furnished">Fully-furnished</option>
                </select>
            </div>
            <div>
                Allow Pets: <input type="checkbox" formControlName="allowPets">
            </div>
            <div>
                Allow Smoking: <input type="checkbox" formControlName="allowSmoking">
            </div>
            <div formGroupName="pricing">
                <div>
                    Price: <input type="text" formControlName="price">
                </div>
                <div>
                    Months Deposit: <select formControlName="monthsdeposit">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div>
                    Months Advance: <select formControlName="monthsadvance">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div>
                    Accept Cash: <input type="checkbox" formControlName="acceptCash">
                </div>
                <div>
                    Accept PDC: <input type="checkbox" formControlName="acceptPDC">
                </div>
            </div>
            <div>
                Notes: <textarea formControlName="notes"></textarea>
            </div>
            <div formArrayName="images">
                <div *ngFor="let img of listingImages.controls; let i = index" [formGroupName]="i">
                    Image #1: <input type="file" formControlName="image" (change)="getFile(i, $event.target)">
                    <button type="button" (click)="removeImage(i)">Remove</button>
                </div>
            </div>
        </form>
        <div *ngIf="uploading == false">
            <button type="button" (click)="submitForm()">Submit</button>
            <button type="button" (click)="addImage()" *ngIf="listingImages.length < imageCount">Add another image</button>
        </div>
        <div *ngIf="uploading == true">
            <span>Loading...</span>
        </div>
    </div>
</div>