.sp-listing-notes {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
.sp-listing-notes .content {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #333;
}
.sp-listing-notes p {
    padding: 8px 0;
    line-height: 24px;
}