<div class="sp-details-header">
    <div class="inner">
        <div class="back-link" (click)="backToSearch()">
            <span class="material-icons icon">
                navigate_before
            </span>
            Back
        </div>
        <div class="title">
            <div class="crumb">
                <a href="#" class="crumb-link">Metro Manila</a>
                <span class="material-icons icon">
                    arrow_right
                </span>
            </div>
            <div class="crumb">
                <a href="#" class="crumb-link">Quezon City</a>
                <span class="material-icons icon">
                    arrow_right
                </span>
            </div>
            <div class="crumb">
                <a href="#" class="crumb-link">Project 7</a>
                <span class="material-icons icon">
                    arrow_right
                </span>
            </div>
            Townhouse for rent
        </div>
    </div>
</div>