.sp-details-header,
.sp-details-header > .inner,
.sp-details-header > .inner > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sp-details-header {
    border-top: 1px solid #ccc;
    padding: 12px 0;
}
.sp-details-header > .inner {
    margin: 0 auto;
    width: 85%;
    border: 0px solid green;
}
.sp-details-header .back-link {
    cursor: pointer;
    border: 0px solid red;
    -webkit-border-radius: 4px;
    -mox-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
    padding: 8px 12px 8px 2px;
    margin-right: 24px;
    transition: all 0.2s;
}
.sp-details-header .back-link:hover {
    background-color: #ececed;
}
.sp-details-header .title {
    color: #333;
}
.sp-details-header .title .icon {
    /* cursor: pointer; */
    border: 0px solid red;
    position: absolute;
    top: 4.5px;
    right: 0;
    color: rgb(51, 51, 51);
}
.sp-details-header .title > .crumb {
    border: 0px solid red;
    padding: 8px 26px 8px 0;
    position: relative;
}
.sp-details-header a.crumb-link {
    text-decoration: none;
    color: #0D47A1;
    font-weight: 700;
}
.sp-details-header a.crumb-link:hover {
    text-decoration: underline;
}
