<div class="sp-sidebar-summary">
    <div class="row-title">
        Property Summary
    </div>
    <div class="row">
        <div class="price">
            <div class="huge">&#8369; 25,000</div>
            /month
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="label">Advance</div>
        <div class="val">25,000</div>
    </div>
</div>