.sp-sidebar-summary {
    border: 0px solid #ccc;
    /* border-radius: 6px; */
    padding: 2px;
    color: #333;
}
.row-title {
    font-weight: bold;
    color: #B71C1C;
    font-size: 18px;
    margin-bottom: 12px;
}
.row,
.row .price {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: 1px solid red;
    gap: 12px;
}
.row > div {
    font-size: 14px;
    color: #333;
}
.row .huge {
    font-size: 32px;
    font-weight: bold;
}