<div class="sp-overlays">
    <div class="header">Maps</div>
    <div id="map" class="map"></div>
    <div class="switches">
        <!-- <button type="button" id="btnNone" name="btnNone">None</button>
        <button type="button" id="btnNone" name="btnTrans">Transportation</button>
        <button type="button" class="active" id="btnNone" name="btnInst">Institutions</button>
        <button type="button" id="btnNone" name="btnDining">Dining Establishments</button>
        <button type="button" id="btnNone" name="btnFlood">Flood</button> -->
    </div>
</div>