.sp-overlays {
    border: 0px solid #ccc;
    border-collapse: collapse;
}
.sp-overlays .header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #333;
    /* border-bottom: 1px solid #ccc; */
    /* padding: 0 0 8px 4px; */
    padding-bottom: 12px;
}

.sp-overlays .switches {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 8px 0 12px;
}
.switches button {
    padding: 0.4rem 0.75rem;
    font-size: 0.75rem;
    border: 0;
    border-radius: 4px;
    background-color: #FAFAFA;
    cursor: pointer;
    transition: all 0.2s ease;
}
.switches button:not(.active):hover {
    background-color: #E0E0E0;
}
.switches button.active {
    background-color: rgba(38, 50, 56, 0.8);
    color: #fff;
}

.sp-overlays .map {
    border: 1px solid #ccc;
    /* border: 1px solid red; */
    border-radius: 4px;
    width: 100%;
    height: 500px;
}
/* .sp-overlays .map {
    width: 100%;
    height: 100%;
    border: 1px solid red;
} */