<div class="sp-amenities">
    <div class="section">
        <div class="header">Lease Terms</div>
        <div class="contents">
            <div class="row">
                <span class="material-icons icon">chevron_right</span>
                12-month contract
            </div>
            <div class="row">
                <span class="material-icons icon">chevron_right</span>
                Post-dated checks only
            </div>
        </div>
    </div>
    <div class="section">
        <div class="header">Utilities</div>
        <div class="contents">
            <div class="row">
                <span class="material-icons icon">chevron_right</span>
                Own electric meter
            </div>
            <div class="row">
                <span class="material-icons icon">chevron_right</span>
                Own water meter
            </div>
        </div>
    </div>
    <div class="section">
        <div class="header">Neighborhood</div>
        <div class="contents">
            <div class="row">
                <span class="material-icons icon">chevron_right</span>
                Exclusive subdivision
            </div>
        </div>
    </div>
</div>