.sp-amenities {
    border: 0px solid #ccc;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.sp-amenities .header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #333;
    /* border-bottom: 1px solid #ccc; */
    padding: 0 0 8px 4px;
}
.sp-amenities .contents {
    /* padding-top: 40px; */
    font-size: 13px;
}
.contents .row {
    padding-left: 32px;
    color: #333;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contents .row .icon {
    border: 0px solid red;
    /* position: absolute;
    left: 0;
    top: -5px; */
}