.sp-search-filter {
    border-bottom: 1px solid #ccc;
    padding: 12px 0;
}
.sp-search-filter .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.sp-search-filter .container :not(:last-child) {
    margin-right: 12px;
}
.sp-search-filter .container input[type=text],
.sp-search-filter .container button {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    padding: 8px 32px 8px 12px;
    border-radius: 3px;
}
.sp-search-text {
    border: 0px solid green;
    position: relative;
}
.sp-search-text input[type=text] {
    padding-right: 40px;
    min-width: 250px;
    border: 1px solid #ccc;
    /* border-top: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .39), 0 -1px 1px #fff, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .39), 0 -1px 1px #fff, 0 1px 0 #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .39), 0 -1px 1px #fff, 0 1px 0 #fff; */
}
.sp-search-text .icon {
    cursor: pointer;
    border: 0px solid red;
    position: absolute;
    top: 4.5px;
    right: 18px;
    color: rgb(51, 51, 51);
}
.sp-search-filter .container button {
    font-weight: 500;
    border: 1px solid #1976D2;
    background-color: #fff;
    color: #1976D2;
    position: relative;
    transition: .2s background-color;
}
.sp-search-filter .container button .icon {
    border: 0px solid red;
    position: absolute;
    top: 0;
    right: 4px;
    padding: 3px 0;
}
.sp-search-filter .container button:hover {
    cursor: pointer;
    background-color: #eee;
}
