<div class="sp-search-filter">
    <div class="container">
        <div class="sp-search-text">
            <input type="text" placeholder="Type your location">
            <span class="material-icons icon">
                cancel
            </span>
        </div>
        <!-- <button type="button">
            For Rent
            <span class="material-icons icon">
                arrow_drop_down
            </span>
        </button> -->
        <button type="button">
            Price
            <span class="material-icons icon">
                arrow_drop_down
            </span>
        </button>
        <button type="button">
            Rooms
            <span class="material-icons icon">
                arrow_drop_down
            </span>
        </button>
        <button type="button">
            Home Type
            <span class="material-icons icon">
                arrow_drop_down
            </span>
        </button>
        <button type="button">
            More
            <span class="material-icons icon">
                arrow_drop_down
            </span>
        </button>
    </div>
</div>