/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Helvetica, sans-serif; }

.container {
    width: 85%;
    margin: 0 auto;
}