<app-listing-header></app-listing-header>
<div class="sp-listing-content">
    <div class="main">
        <app-listing-gallery></app-listing-gallery>
        <app-listing-summary></app-listing-summary>
        <app-listing-notes *ngIf="rec.notes"></app-listing-notes>
        <!-- <app-listing-amenities></app-listing-amenities> -->
        <app-listing-overlays></app-listing-overlays>
        <app-listing-similar></app-listing-similar>
    </div>
    <div class="sidebar">
        <app-listing-contact></app-listing-contact>
        <!-- ADS -->
    </div>
</div>