.sp-listing-content {
    border: 0px solid red;
    margin: 0 auto;
    padding: 16px 0 40px;
    width: 85%;
    display: grid;
    grid-template-columns: auto 350px;
    grid-gap: 24px;
}
.sp-listing-content > div {
    border: 0px solid red;
}
.sp-listing-content > .main {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
