/*
main
  section class="cards"
    div class="card"
      div class="card__image-container"
        img
      div class="card__content"
        p class="card__title text--medium"
        div class="card__info"
          p class="text--medium"
          p class="text--medium"
*/

/* .sp-search-card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    border: 1px solid #39393b;
    cursor: pointer;
    transition: all 0.3s ease 0s;
} */
